In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel('customer_churn_large_dataset.xlsx')

In [3]:
df=pd.get_dummies(df,columns=['Gender','Location'])

In [4]:
df

,CustomerID,Name,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Gender_Female,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York
0,1.0,Customer_1,63.0,17.0,73.36,236.0,0.0,0,1,0,0,1,0,0
1,2.0,Customer_2,62.0,1.0,48.76,172.0,0.0,1,0,0,0,0,0,1
2,3.0,Customer_3,24.0,5.0,85.47,460.0,0.0,1,0,0,0,1,0,0
3,4.0,Customer_4,36.0,3.0,97.94,297.0,1.0,1,0,0,0,0,1,0
4,5.0,Customer_5,46.0,19.0,58.14,266.0,0.0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996.0,Customer_99996,33.0,23.0,55.13,226.0,1.0,0,1,0,1,0,0,0
99996,99997.0,Customer_99997,62.0,19.0,61.65,351.0,0.0,1,0,0,0,0,0,1
99997,99998.0,Customer_99998,64.0,17.0,96.11,251.0,1.0,0,1,1,0,0,0,0
99998,99999.0,Customer_99999,51.0,20.0,49.25,434.0,1.0,1,0,0,0,0,0,1
99999,100000.0,Customer_100000,27.0,19.0,76.57,173.0,1.0,1,0,0,0,1,0,0

In [5]:
df=df.drop(['CustomerID','Name','Gender_Female'],axis=1)

In [6]:

df

,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Gender_Male,Location_Chicago,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York
0,63.0,17.0,73.36,236.0,0.0,1,0,0,1,0,0
1,62.0,1.0,48.76,172.0,0.0,0,0,0,0,0,1
2,24.0,5.0,85.47,460.0,0.0,0,0,0,1,0,0
3,36.0,3.0,97.94,297.0,1.0,0,0,0,0,1,0
4,46.0,19.0,58.14,266.0,0.0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,33.0,23.0,55.13,226.0,1.0,1,0,1,0,0,0
99996,62.0,19.0,61.65,351.0,0.0,0,0,0,0,0,1
99997,64.0,17.0,96.11,251.0,1.0,1,1,0,0,0,0
99998,51.0,20.0,49.25,434.0,1.0,0,0,0,0,0,1
99999,27.0,19.0,76.57,173.0,1.0,0,0,0,1,0,0

In [7]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='Churn')
y = df['Churn']

# splitting for train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.33,random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

sc.fit(X_train)

X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [9]:
# ------- Part-2: Build the ANN --------
# import keras library and packages
import keras
from keras.models import Sequential  # sequential: acts as a container,that holds all the layers of the ANN together.
from keras.layers import Dense  # an ANN  hidden layer.

#activation funtion : is the function f(x): sigmoid(x)/relu(x)/tanh(x) which is present in each neuron, and is responsible for learning non linear patterns.
#its the function responsible for converting input(x1)-->signal  and passing to the next layer.

#kernel initializer : various ways of initializing the weight matrix.

#optimizer : a function g(x): responsible for reducing the loss, and increasing the accuracy of the model.

#loss : a metric to calculate the error from the NN.

# Initializing the ANN

classifier = Sequential()
# Adding the input layer and the first hidden layer
ip_layer = Dense(activation='relu', input_dim=10, kernel_initializer='uniform', units=100)
classifier.add(ip_layer)  # add  layer to container/sequential


# Adding first hidden layer
layer_info = Dense(activation='relu', kernel_initializer='uniform', units=1000)
classifier.add(layer_info)

layer_info = Dense(activation='relu', kernel_initializer='uniform', units=500)
classifier.add(layer_info)


layer_info = Dense(activation='relu', kernel_initializer='uniform', units=250)
classifier.add(layer_info)

layer_info = Dense(activation='relu', kernel_initializer='uniform', units=100)
classifier.add(layer_info)

# Adding output layer
layer_info = Dense(activation='sigmoid', kernel_initializer='uniform', units=1)
classifier.add(layer_info)

# Compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [10]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               1100

 dense_1 (Dense)             (None, 1000)              101000

 dense_2 (Dense)             (None, 500)               500500

 dense_3 (Dense)             (None, 250)               125250

 dense_4 (Dense)             (None, 100)               25100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 753,051
Trainable params: 753,051
Non-trainable params: 0
_________________________________________________________________

In [11]:
classifier.fit(X_train, y_train,batch_size=256, epochs=25)

Epoch 1/25
262/262 [==============================] - 3s 10ms/step - loss: 0.6932 - accuracy: 0.4985
Epoch 2/25
262/262 [==============================] - 3s 10ms/step - loss: 0.6932 - accuracy: 0.5001
Epoch 3/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6932 - accuracy: 0.5003
Epoch 4/25
262/262 [==============================] - 3s 10ms/step - loss: 0.6932 - accuracy: 0.5015
Epoch 5/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6932 - accuracy: 0.5000
Epoch 6/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6932 - accuracy: 0.4994
Epoch 7/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6932 - accuracy: 0.5022
Epoch 8/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6931 - accuracy: 0.5017
Epoch 9/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6931 - accuracy: 0.5059
Epoch 10/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6932 - accuracy: 0.5047
Epoch 11/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6930 - accuracy: 0.5056
Epoch 12/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6931 - accuracy: 0.5046
Epoch 13/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6930 - accuracy: 0.5095
Epoch 14/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6929 - accuracy: 0.5083
Epoch 15/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6928 - accuracy: 0.5106
Epoch 16/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6928 - accuracy: 0.5096
Epoch 17/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6928 - accuracy: 0.5110
Epoch 18/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6927 - accuracy: 0.5125
Epoch 19/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6926 - accuracy: 0.5131
Epoch 20/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6927 - accuracy: 0.5115
Epoch 21/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6926 - accuracy: 0.5137
Epoch 22/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6925 - accuracy: 0.5141
Epoch 23/25
262/262 [==============================] - 3s 11ms/step - loss: 0.6925 - accuracy: 0.5152
Epoch 24/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6925 - accuracy: 0.5154
Epoch 25/25
262/262 [==============================] - 3s 12ms/step - loss: 0.6924 - accuracy: 0.5150

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier,StackingClassifier,VotingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [13]:
## Models

lr=LogisticRegression()

dtree=DecisionTreeClassifier()

bagg=BaggingClassifier()

rf=RandomForestClassifier()

knn=KNeighborsClassifier()


ada=AdaBoostClassifier()

gdb=GradientBoostingClassifier()

xgb=XGBClassifier()

naive_gbm=GaussianNB()
naive_bnm=BernoulliNB()

In [14]:
models = [('Logistic',lr),('Decision Tree',dtree),('Random Forest',rf),('KNN',knn),('Bagging',bagg),('Adaboost',ada),
          ('Gradient Boosting',gdb),('XGBoost',xgb),('GaussianNB',naive_gbm),('BerboulliNB',naive_bnm)]

evc= VotingClassifier(estimators=models,voting='hard')

In [15]:
models = [('Logistic',lr),('Decision Tree',dtree),('Random Forest',rf),('KNN',knn),('Bagging',bagg),('Adaboost',ada),
          ('Gradient Boosting',gdb),('XGBoost',xgb),('GaussianNB',naive_gbm),('BerboulliNB',naive_bnm),('Voting',evc)]

In [16]:
for model_name,model in models:
    model.fit(X_train,y_train)
    
    y_train_pred=model.predict(X_train)
    
    train_accuracy=accuracy_score(y_train,y_train_pred)
    
    y_test_pred=model.predict(X_test)
    
    test_accuracy=accuracy_score(y_test,y_test_pred)
    
    print(f"Model: {model_name}")
    print(f"Train_Accuracy: {train_accuracy:.2f}")
    print(f"Test_Accuracy: {test_accuracy:.2f}")
    print('---Confusion Matrix---')
    print(confusion_matrix(y_test , y_test_pred))
    print('---classification report---')
    print(classification_report(y_test , y_test_pred)) 
    print("****************************************************************")

Model: Logistic
Train_Accuracy: 0.50
Test_Accuracy: 0.50
---Confusion Matrix---
[[9830 6808]
 [9583 6779]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.59      0.55     16638
         1.0       0.50      0.41      0.45     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: Decision Tree
Train_Accuracy: 1.00
Test_Accuracy: 0.50
---Confusion Matrix---
[[8346 8292]
 [8234 8128]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.50      0.50      0.50     16638
         1.0       0.50      0.50      0.50     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: Random Forest
Train_Accuracy: 1.00
Test_Accuracy: 0.50
---Confusion Matrix---
[[8697 7941]
 [8565 7797]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.50      0.52      0.51     16638
         1.0       0.50      0.48      0.49     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: KNN
Train_Accuracy: 0.69
Test_Accuracy: 0.50
---Confusion Matrix---
[[8368 8270]
 [8233 8129]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.50      0.50      0.50     16638
         1.0       0.50      0.50      0.50     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: Bagging
Train_Accuracy: 0.98
Test_Accuracy: 0.50
---Confusion Matrix---
[[10164  6474]
 [ 9905  6457]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.61      0.55     16638
         1.0       0.50      0.39      0.44     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: Adaboost
Train_Accuracy: 0.51
Test_Accuracy: 0.50
---Confusion Matrix---
[[8935 7703]
 [8719 7643]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.54      0.52     16638
         1.0       0.50      0.47      0.48     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: Gradient Boosting
Train_Accuracy: 0.54
Test_Accuracy: 0.50
---Confusion Matrix---
[[8830 7808]
 [8727 7635]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.50      0.53      0.52     16638
         1.0       0.49      0.47      0.48     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: XGBoost
Train_Accuracy: 0.67
Test_Accuracy: 0.50
---Confusion Matrix---
[[8525 8113]
 [8297 8065]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.51      0.51     16638
         1.0       0.50      0.49      0.50     16362

    accuracy                           0.50     33000
   macro avg       0.50      0.50      0.50     33000
weighted avg       0.50      0.50      0.50     33000

****************************************************************
Model: GaussianNB
Train_Accuracy: 0.50
Test_Accuracy: 0.51
---Confusion Matrix---
[[10025  6613]
 [ 9699  6663]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.60      0.55     16638
         1.0       0.50      0.41      0.45     16362

    accuracy                           0.51     33000
   macro avg       0.51      0.50      0.50     33000
weighted avg       0.51      0.51      0.50     33000

****************************************************************
Model: BerboulliNB
Train_Accuracy: 0.50
Test_Accuracy: 0.51
---Confusion Matrix---
[[9964 6674]
 [9616 6746]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.60      0.55     16638
         1.0       0.50      0.41      0.45     16362

    accuracy                           0.51     33000
   macro avg       0.51      0.51      0.50     33000
weighted avg       0.51      0.51      0.50     33000

****************************************************************
Model: Voting
Train_Accuracy: 0.76
Test_Accuracy: 0.51
---Confusion Matrix---
[[10899  5739]
 [10551  5811]]
---classification report---
              precision    recall  f1-score   support

         0.0       0.51      0.66      0.57     16638
         1.0       0.50      0.36      0.42     16362

    accuracy                           0.51     33000
   macro avg       0.51      0.51      0.49     33000
weighted avg       0.51      0.51      0.49     33000

****************************************************************

In [17]:
## Cross-validation
from sklearn.model_selection import cross_val_score

for model_name,model in models:
    cv_train_scores = cross_val_score(model,X_train,y_train,cv=20,scoring='accuracy')
    cv_test_scores = cross_val_score(model,X_test,y_test,cv=20,scoring='accuracy')
    
    mean_train_accuracy = cv_train_scores.mean()
    mean_test_accuracy = cv_test_scores.mean()
    
    print(f"Model: {model_name}")
    print(f"Mean_Train_Accuracy: {mean_train_accuracy:.2f}")
    print(f"Mean_Test_Accuracy: {mean_test_accuracy:.2f}")
    print("****************************************************************")

Model: Logistic
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************
Model: Decision Tree
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.50
****************************************************************
Model: Random Forest
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.50
****************************************************************
Model: KNN
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.50
****************************************************************
Model: Bagging
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.50
****************************************************************
Model: Adaboost
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************
Model: Gradient Boosting
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************
Model: XGBoost
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.50
****************************************************************
Model: GaussianNB
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************
Model: BerboulliNB
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************
Model: Voting
Mean_Train_Accuracy: 0.50
Mean_Test_Accuracy: 0.51
****************************************************************

In [18]:
df.iloc[654]

Age                            24.0
Subscription_Length_Months      7.0
Monthly_Bill                   84.8
Total_Usage_GB                372.0
Churn                           0.0
Gender_Male                     0.0
Location_Chicago                0.0
Location_Houston                0.0
Location_Los Angeles            0.0
Location_Miami                  0.0
Location_New York               1.0
Name: 654, dtype: float64

In [19]:
## Custom Testing
values = [24 , 7 , 84.8 , 372 , 0 , 0 , 0 , 0 , 0 , 1 ]
values = np.array(values)
values

array([ 24. ,   7. ,  84.8, 372. ,   0. ,   0. ,   0. ,   0. ,   0. ,
         1. ])

In [20]:
values = values.reshape(1,-1)

In [21]:
p = sc.transform(values)

In [38]:
sol=knn.predict(p)

In [39]:
if sol[0]==1:
    print('Customer Churned')
else:
    print('Customer didnt Churned')

Customer didnt Churned

## Saving the Model

In [40]:
import pickle

In [41]:
with open('Churn_project.pkl' , 'wb') as f:
    pickle.dump(gdb , f)

In [42]:
# saving Standard scalar variable into pickle for loading and scaling down values:

with open('stadardscalar.pkl' , 'wb') as f:
    pickle.dump(sc , f)